
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

#site-header {
    background-image: url(https://images.pexels.com/photos/146231/pexels-photo-146231.jpeg?_gl=1*1eqqu33*_ga*NjgxOTUwMzEuMTc3ODA3MjMwOQ..*_ga_8JE65Q40S6*czE3NzgwNzIzMDkkbzEkZzEkdDE3NzgwNzUwNzIkajU5JGwwJGgw);
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 2.5;
}

#site-header h1 {
	font-size: 5rem;
	font-weight: bold;
	font-style: italic;
    color: white
}

.tagline {
    color: white;
    font-style: italic;
}

nav a {
    color: white;
    font-weight: bold;
    line-height: 2.5;
}

nav a:hover {
    color : #ffffff;
    background-color: black;
}

h2 {
    text-align: left;
    color:#1F3D7A;
}

#chi-sono strong {
    color: #1F3D7A;
}

h3 {
    text-align: left;
    color:#1F3D7A;
}

.skillslist li:nth-child(odd) {
    background-color: rgb(214, 212, 212);
}
.skillslist li:first-child{
    font-weight: bold;
}

.project:nth-of-type(odd) {
    background-color: rgb(214, 212, 212);
}

.project:nth-of-type(even) {
    background-color: white;
}

table {
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;
    }

label {
    font-weight: bold;
}



input,
textarea {
    width: 60%;
    font-size: 1rem;
}

#yes {
    width:auto;
}
 .focus:focus {
    background-color: lightslategrey;
 }
 
 button {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    width: 30%;
}

button:hover {
    background-color: #1F3D7A;
}
#site-footer {
    background-color: darkblue;
    text-align: center;
    color: white;
    line-height: 2.5;
}