
/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}


h1 {
    color: red;

}

input:focus {
    border-color: salmon;
    background-color: grey;

}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: aqua ;
}

a:link, a:visited {
    color: white;
    background-color: red;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: salmon;
}

a:active {
    color: black;
    background-color: transparent;
}
